.main-head {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;   
    font-family: 'Koulen', cursive;  
}

.header {
    background-image: url('/images/Shaders1.png');
    background-size: 1920px;
}

.headertxt2 {
    text-align: center;
    color: gray;
    font-weight: bold;
}
