.main-head {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;   
    font-family: 'Koulen', cursive;  
}

.header {
    background-image: url('/images/Shaders1.png');
    background-size: 1920px;
}

.headertxt2 {
    text-align: center;
    color: #ee6055;
    font-weight: bold;
    font-size: 35px;
}

.copyip {
    background-color: #f5429b; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    display: block;
  }

.mcOnline {
    text-align: center;
    color: #222422;
}

.ip {
    text-align: center;
}

body {
    margin-top: 30px;
}